page-register {

    ion-content { 
        background: url('../../assets/imgs/background-blurred.jpg') no-repeat center center fixed; 
        background-size: cover;
      } 
    .login {
      padding-top: 3%;
      padding-left: 5%;
      padding-right: 5%;
    }

    .ion-card {
        margin-top: -5%;
        background-color: transparent;
    }

    .login-translucent {
        margin-top: 10%;
        margin-left: 3%;
        margin-right: 3%;
        background-color: transparentize($color: maroon, $amount: 0.3) !important;
        font-weight: bold;
        width: 94%;
        height: 45px;
    }

    .item {
        ::placeholder {color: white}
        color: white;
        background-color:transparentize($color: rgb(255,255,255), $amount: 0.7) !important;
       // margin-top: 10px;
       // border-radius: 25px;
        width: 100%;
        height: 30px;
    }
    .logo {
        text-align: center;
        font-weight: bold;
        font-size: xx-large;
        color: white;
        margin-top: 10%;
        margin-bottom: 30%;
        
    }
    .back-button {
        color: #9F0324;
    }
}
