<!--
  Generated template for the CoursesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Courses</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navigateTo('AddCoursePage')">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="background card-background-page">

  <ion-card *ngFor="let course of courses; let i = index" [@visibilityChanged]="visibility" style="opacity: 0" >
    <div tappable (click)="toggleButtons(i)" class="image-container">
      <img *one-time [src]="getRandomImage()" />
      
      <div class="card-title">{{course.getDepartment()}} {{course.getCourseNum()}}-{{course.getSection()}}</div>
      <div class="card-subtitle">{{course.getTerm()}} {{course.getYear()}}</div>
    </div>

    <ion-fab right top>
        <button class="translucent-fab" ion-fab>
          <ion-icon  name="camera"></ion-icon>
        </button>
      </ion-fab>

    

    <div style="text-align:initial; height: 100px;" id="buttons" *ngIf="toggledIndex === i">

        <ion-item>
            <ion-icon color="primary" name="calendar" item-start ></ion-icon>
            <h3 style="color:gray">{{course.getFormattedStartDate()}} - {{course.getFormattedEndDate()}}</h3>
          </ion-item>

      <ion-item>
        <ion-icon color="primary" name="compass" item-start ></ion-icon>
        <h3 style="color:gray;">{{course.getBuilding()}} {{course.getRoom()}}</h3>
      </ion-item>

      
    
    </div>

  </ion-card>

</ion-content>