page-courses {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }

        .image-container {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;

          @media(max-width: 1980px) {
            font-size: 6.0em;
          }
          
          @media(max-width: 1580px) {
            font-size: 5.0em;

          }
          @media(max-width: 980px) {
            font-size: 2.0em;
          }  
          
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;

          @media(max-width: 1980px) {
            font-size: 5.0em;
          }

          @media(max-width: 1580px) {
            font-size: 4.0em;

          }
          @media(max-width: 980px) {
            font-size: 1.0em;
          }
          
          
        }

        .translucent-fab {
          background-color: transparentize($color: white, $amount: 0.7);
        }
      
      }

      
      
}


